@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Tajawal', Arial, sans-serif;
}

body {
  direction: rtl;
  background-color: #f9fafb; /* تأكد من الخلفية الرمادية */
}

.router-link-active {
  @apply bg-blue-50 text-blue-600;
}

/* إصلاح المساحة السوداء */
#app {
  background-color: #f9fafb;
}
